/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */
.system {
  border: 1px dashed #696767 !important;
  background-color: whitesmoke;
}

/*products*/
.product-wrapper {
  width: 150px;
  height: 150px;
  padding: 20px;
  float: left;
  margin: 10px;
  position: relative;
}
.product {
  /*background-color: whitesmoke;*/
  border: 1px solid #CCC;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.create_new {
  background-color: rgb(122, 165, 199) !important;
  text-align: center;
  padding-top: 25%;
  font-size: 50px;
  color: white;
  font-weight: bold;
}
.pagination_panel {
  width: 300px;
  position: relative;
  margin: 0 auto;
}
.title {
  text-align: center;
}
.calories {
  text-align: center;
  padding-top: 15px;
}
.calories::after {
  content: 'c/100g';
}
/*products end*/